html
    body
        app-root Loading...
block scripts
    script(src='/dist/inline.bundle.js')
    script(src='/dist/polyfills.bundle.js')
    script(src='/dist/vendor.bundle.js')
    script(src='/dist/main.bundle.js')
    script(src='/dist/styles.bundle.js')