<h2> Login page </h2>

<div *ngIf="User">
    <form action="/login" method="POST">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required="required" />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required="required" />
        </div>
        <button class="btn btn-primary" *ngIf="!user._id" (click) = "loginUser(user)"> Sumbit </button>>
    </form>
</div>
<h3> Please register <a routerLink="['/register">Here</a>.</h3>