<a routerLink="/workouts" class="button"> Workouts</a>

<table>
        <tr>
            <th *ngIf="authService.isloggedin()"> Delete </th>
            <th> Name </th>
            <th> Description </th>
            <th> No. sets </th>
            <th> Reps/Time </th>
        </tr>
    
        <!-- for each exercise -->
        <tr>
            <exercises-details></exercises-details>
        </tr>
    </table>

<form action="/user/workoutId/exercises" method="POST">
    <select name="exercises" size="1=">
        <option value="exercisesName"> {{exercisesName}}</option>
    </select>
        <input type="submit" value="Add" (click)="addExercise()"/>
    </div>
</form>