<h2> Registration form </h2>

<form action="/register" method="POST">
    <div>
        <label for="UserName">Username</label>
        <input type="text" id="UserName" name="UserName" required="required" />
    </div>
    <div>
        <label for="UserPassword">Password</label>
        <input type="UserPassword" id="UserPassword" name="UserPassword" required="required" />
    </div>
    <div class="form-group">
        <button (click) = "addUser(UserName.value, UserPassword.value)" 
        type="submit" class="btn btn-primary"
        [disabled]="angForm.pristine || angForm.invalid"> Sumbit </button>>
        </div>
</form>