<h2> Registration form </h2>

<div *ngIf="user" >
    <form action="/register" method="POST">
        <div class="form-group">
            <label for="user-name">Username</label>
            <input class="form-control" name="user-name" [(ngmodel)]="user.name" placeholer="Name" />
        </div>
        <div class="form-group">
            <label for="user-password">Password</label>
            <input class="form-control" name="user-password" [(ngmodel)]="user.pasword" placeholer="Password" />
        </div>
        <button class="btn btn-primary" *ngIf="!user._id" (click) = "createUser(user)"> Sumbit </button>>
    </form>
</div>